*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8FAFC;
    font-family: 'Roboto', system-ui, -apple-system, sans-serif;
    color: #2563EB;
    font-weight: 400;
    line-height: 1.2;
}

.section-center {
    margin: 0 auto;
    margin-top: 8rem;
    max-width: 30rem;
    background: #fff;
    border-radius: 0.8rem;
    padding: 2rem;
    position: relative;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}