.single-item {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    column-gap: 1rem;
    align-items: center;
}

.single-item p {
    text-transform: capitalize;
}

.single-item input[type="checkbox"] {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
}

.single-item .btn {
    cursor: pointer;
    color: #fff;
    background: #0ea5e9;
    border: transparent;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
}

.single-item .btn:hover {
    background: #0284c7;
}

.single-item .remove-btn {
    background: #ef4444;
}

.single-item .remove-btn:hover {
    background: #dc2626;
}

.add-btn {
    cursor: pointer;
    color: #fff;
    background: #64748b;
    border: transparent;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
}

.add-btn:hover {
    background-color: #4a5668;
}